
<!-- <div class="button_section">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-md-offset-4">
        <h1 class="main_head">RANDOMIZE</h1>
        <button type="button" class="btn btn-link" ng-click="btnRand()" ng-model="randButton">
          <a href="javascript:void(0);">
            <img class="btn-img" src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/glossy-black-icons-sports-hobbies/044485-glossy-black-icon-sports-hobbies-film-reel.png">
          </a>
        </button>
      </div> 
    </div> 
  </div> 
</div> -->

<div class="page-header">
  <h1>Jason's random movies generator<br><small>Just pick up a genre or a favorite actor and let us do the rest</small></h1>
</div>

<div class="button_section">
  <div layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular md-mode="determinate" value="{{btnRand}}"></md-progress-circular>
  </div>
</div>
<hr>