/*Index*/
body{
  background-color: #000000;
}
h1{
  color: #fff;
  font-weight: bold;
  text-align: center;
}
nav ul li a{
  color:#FF0A16;
}
.navbar{
  border-radius: 0;
  border-bottom: 1px solid #FFF;
}
.navbar-header img{
  max-height: 70px;
}
.navbar-default .navbar-brand{
  color: #FF0A16;
}

.navbar-nav>li>a:hover{
  background-color: #000000;
  color: #FF0A16;
}
.icon-bar{
  background-color:#FF0A16;
}
/*Genre multi column dropdown*/
.col-sm-4{
  padding:0;
  width:auto;
}
.multi-column-dropdown {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.dropdown-menu li a {
  padding: 5px;
  font-weight: 300;
}
.dropdown-menu.columns-3 {
  min-width: 400px;
}

.multi-column-dropdown li a {
  display: block;
  clear: both;
  line-height: 1.428571429;
  white-space: normal;
}
.multi-column-dropdown li a:hover {
  text-decoration: none;
}
.navbar, .dropdown, .dropdown-menu,
.nav.nav-tabs > li.dropdown.open>a,
li.dropdown.active.open,
.nav.navbar-nav > li.dropdown.open > a{
  background-color: #000000;
}
.navbar-nav{
  margin-left: 20px;
  margin-top: 10px;
  font-size: 100%;
}
.dropdownGenre{
  display: inline-block;
}

.dropdown{
  display: inline-block;
  font-weight: bold;
  font-size: 125%;
}
.dropdown button{
  margin-left: 20px;
  margin-top: 8px;
}
/*Actor form */
.navbar-form{
  margin-top:14px;
}
.form-group>input, .form-group>input.activ{
  background-color: #000000;
  border-radius: 0;
  border:0;
  outline: 0;
  border-bottom: 2px solid #FF0A16;
  color: #FF0A16;
}
.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-group>input::placeholder{
  color: #FF0A16;
}
.btn-link{
  font-weight: bold;
  font-size:100%;
  color:#FF0A16;
}
.btn-link:hover{
  color: #fff;
}
.btn-link.active.focus,
.btn-link.active:focus, 
.btn-link.focus, 
.btn-link.focus:active, 
.btn-link:active:focus, 
.btn-link:focus {
  color:#fff;
  outline: 0;
  outline-offset: 0;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.actors_search{
  display: inline-block;
}
.error{
  color: red;
}

/*Home*/
.page-header {
    margin: 20px 0 20px;
}
.home_main_section{
  background: url(images/cinema_main_image.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: cover;
  min-height: 300px; 
}
.btn-img {
  width: 125px;
  height: 125px;
}
.actor_input{
  display: inline-block;
  margin-left: 15px;
}

/*movies*/
.movie-item{
  height: 350;
}
.overview{
  color: #fff;
}
.title{
  color: white;
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  filter: brightness(60%);
  text-align: center;
}
.genre{
  color: white;
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  filter: brightness(60%)
}
.movie-image{
  width: 100%;
  height: 300px;
}
.fa-times {
  color: red;
}
.fa-check {
  color: green;
}

/*Results*/
.result-movie-image{
  width: 80%;
  height: 350px;
}
.results-title{
  margin:0;
}
